body
{
    background-color: #24353f;
}
.home
{
    background-color: #24353f;
    box-shadow: -6px 2px 54px -8px rgba(0, 0, 0, 1);
    font-family: "Titillium Web", sans-serif;
}
h1
{
    color: #17a2b8;
    
}