body {
  background-color: #24353f;
}

.login {
  box-shadow: -6px 2px 54px -8px rgba(0, 0, 0, 1);
  background-color: #24353f;
  font-family: "Titillium Web", sans-serif;
}
.login h1 {
  color: #17a2b8;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}
.login input {
  background-color: #24353f;
  
}
input:focus
{
    background-color: #24353f;
    color: white;
}

.login p {
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}
